package ${package};

import io.github.sisobobo.athena.dto.Response;
import io.github.sisobobo.athena.dto.SingleResponse;
import io.github.sisobobo.athena.dto.PageResponse;
import io.github.sisobobo.athena.dto.MultiResponse;
import ${commandPkg};
import ${queryPkg};
import ${pageQueryPkg};
import org.springframework.web.bind.annotation.*;
import org.springframework.beans.factory.annotation.Autowired;
import javax.validation.Valid;
import ${groupId}.api.${modelName}Service;
import ${voPkg};

@RestController
@RequestMapping("${mapping}")
public class ${fileName} {

    @Autowired
    private ${modelName}Service ${lowModelName}Service;

    @PostMapping("")
    public SingleResponse<${vo}> create(@Valid @RequestBody ${command} command) {
        //todo 完善业务逻辑
        return ${lowModelName}Service.create(command);
    }

    @PutMapping("")
    public Response updateById(@Valid @RequestBody ${command} command) {
        //todo 完善业务逻辑
        return ${lowModelName}Service.updateById(command);
    }

    @DeleteMapping("")
    public Response deleteById(@RequestParam Long id) {
        //todo 完善业务逻辑
        return ${lowModelName}Service.deleteById(id);
    }

    @GetMapping("")
    public Response findById(@RequestParam Long id) {
        //todo 完善业务逻辑
        return ${lowModelName}Service.findById(id);
    }

    @GetMapping("/list")
    public MultiResponse<${vo}> list(@Valid @RequestBody ${query} query) {
        //todo 完善业务逻辑
        return ${lowModelName}Service.list(query);
    }

    @GetMapping("/page")
    public PageResponse<${vo}> page(@Valid @RequestBody ${pageQuery} pageQuery) {
        //todo 完善业务逻辑
        return ${lowModelName}Service.pageList(pageQuery);
    }

}
