package ${package};

import ${groupId}.api.${modelName}Service;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.*;


@RestController
@RequestMapping("${mapping}")
public class ${fileName} {

    @Autowired
    private ${modelName}Service ${lowModelName}Service;


}
