package ${package};

import lombok.Data;

import java.io.Serializable;
#foreach($pkg in $model.packages)
import $pkg;
#end

/**
 * @author Athena Generator
 * @date ${model.createTime}
 */
@Data
public class ${model.modelName} implements Serializable {

    private static final long serialVersionUID = 1L;

#foreach($data in $model.fields)
#if($data.remarks != "")
    /**
     * $data.remarks
     */
#end
    private $data.javaType $data.name;
#end

}