package ${package};

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;
import io.github.sisobobo.athena.dto.utils.BeanCopierUtil;
import io.github.sisobobo.athena.dto.SingleResponse;
import io.github.sisobobo.athena.dto.Response;
import java.util.Objects;
import ${groupId}.api.dto.${modelName}DTO;
import ${groupId}.api.${modelName}Service;
import ${groupId}.dao.dataobject.${modelName}DO;
import ${groupId}.dao.mapper.${modelName}Mapper;

@Service
public class ${fileName} implements ${modelName}Service {

    @Autowired
    private ${modelName}Mapper ${lowModelName}Mapper;

    @Override
    public SingleResponse<${modelName}DTO> create(${modelName}DTO ${lowModelName}DTO) {
        ${modelName}DO ${lowModelName}DO = BeanCopierUtil.copy(${lowModelName}DTO, ${modelName}DO.class);
        ${lowModelName}Mapper.insertSelective(${lowModelName}DO);
        ${lowModelName}DTO.setId(${lowModelName}DO.getId());
        return SingleResponse.of(${lowModelName}DTO);
    }

    @Override
    public Response delete(Long id) {
        ${lowModelName}Mapper.deleteByPrimaryKey(id);
        return Response.success();
    }

    @Override
    public Response modify(${modelName}DTO ${lowModelName}DTO) {
        ${modelName}DO ${lowModelName}DO = BeanCopierUtil.copy(${lowModelName}DTO, ${modelName}DO.class);
        ${lowModelName}Mapper.updateByPrimaryKeySelective(${lowModelName}DO);
        return Response.success();
    }

    @Override
    public SingleResponse<${modelName}DTO> findById(Long id) {
        ${modelName}DO ${lowModelName}DO = ${lowModelName}Mapper.selectByPrimaryKey(id);
        ${modelName}DTO ${lowModelName}DTO = null;
        if (Objects.nonNull(${lowModelName}DO)) {
            ${lowModelName}DTO = BeanCopierUtil.copy(${lowModelName}DO, ${modelName}DTO.class);
        }
        return SingleResponse.of(${lowModelName}DTO);
    }
}