package ${package};

import io.github.sisobobo.athena.dto.*;
import ${groupId}.api.dto.${modelName}DTO;

public interface ${fileName} {

    SingleResponse<${modelName}DTO> create(Command command);

    Response deleteById(Long id);

    Response updateById(Command command);

    SingleResponse<${modelName}DTO> findById(Long id);

    PageResponse<${modelName}DTO> pageList(PageQuery pageQuery);

    MultiResponse<${modelName}DTO> list(Query query);

}